<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.max_fetch_depth">0</property>
		<property name="hibernate.default_batch_fetch_size">8</property>
		<property name="hibernate.jdbc.batch_siz">30</property>
		<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.jdbc.use_streams_for_binary">true</property>
		<property name="hibernate.generate_statistics">false</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>

<!-- 		<mapping resource="config/hib/resource.hbm.xml"/> -->
	</session-factory>
</hibernate-configuration>

